	#mapid { height: 600px; }

.toggleDiv i:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.toggleDiv .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


.lbl-toggle {
  display: block;

  font-weight: bold;
  //font-family: monospace;
  font-size: 1.2rem;
  //text-transform: uppercase;
  text-align: center;

  //padding: 1rem;


  cursor: pointer;

  //border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  //color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}
.navbar {
	border-radius: 0px;
}
.navbar-collapse.collapse.in {
	display: block;
}
footer {
	bottom: 0px;
	color: #343a40;
	max-width: 100%;
	padding: 10px;
	position: fixed;
	text-align: center;
	width: 100%;
}
#main-content {
	margin-top: 75px;
	padding-bottom: 75px;
}
#stats-grid .form-control {
	height: 15px;
}
